# Root env example
POSTGRES_DB=teencare
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Backend
PORT=3001
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/teencare?schema=public

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001/api
